<div class="page-header">
  <h1>Plays</h1>
</div>


<p><a href="/plays/new" class="btn btn-primary">Add a New Play</a></p>


<table class="table table-hover">
  <thead>
    <tr>

      <th>Type</th>

      <th>Player</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plays.each do |play| %>
      <tr>

        <td><%= play.type %></td>

        <td><%= play.player %></td>


        <td>
          <a href="/plays/<%= play.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/plays/<%= play.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

