<div class="page-header">
  <h1>Player #<%= @player.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Name</dt>
  <dd><%= @player.name %></dd>


  <dt>Position</dt>
  <dd><%= @player.position %></dd>


  <dt>Image url</dt>
  <dd><%= @player.image_url %></dd>


</dl>
